.element__like {
    height: 21px;
    width: 24px;
    margin-left: 30px;
    padding: 0;
    flex-shrink: 0;
    background-image: url('../../../images/element-like.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}
