.profile__name {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
}

@media screen and (max-width: 767.98px) {
    .profile__name {
        margin-left: 25px;
        
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}